@page "/"

<PageTitle>Silicon</PageTitle>

<h1>Welcome to the Silicon Admin Portal!</h1>

<p>Welcome to Silicon's administrative portal, your centralized hub for managing all aspects of the Silicon platform. Here, you have the power to:</p>
<ul>
    <li>Add and manage courses, ensuring that our educational offerings are up-to-date and comprehensive.</li>
    <li>Control user access and permissions to maintain a secure and efficient learning environment.</li>
    <li>Oversee all administrative tasks to streamline operations and improve user experience.</li>
</ul>
<p>Get started by exploring the various tools and features available to you. Your work ensures the continued success and growth of the Silicon community.</p>
