.singleCourse {

    .container {
        display: block;
        align-items: center;
        width: 95%;
        left: 0;

        @include lg {
            width: 60%;
        }



        form {
            padding: 1.7rem;
            display: flex;
            flex-direction: column;
            width: 100%;

            label {
                font-weight: 800;
                color: var(--color-gray-900);
            }

            .button-group {
                padding-top: 20px;
            }
        }
    }
}
